.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.dropdown-menu [aria-labelledby = ddown]{         
  max-height: 200px;
  overflow-y: auto;
}


.form{
  padding: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.hidden {
  display: none;
}

.icons{
  width:16px;
  height:16px;
}

.popover {
  white-space: pre-line;    
}

.parent{
  display: 'flex';
}

.child{
  margin-left: "auto";
}


.dashboardElem{
  padding: 20px;
  color: black;
  display: inline-flex;
  flex-direction: row;
}

.inLineDivs{
  padding: 10px;
  color: black;
  display: inline-flex;
  flex-direction: row;
}

.simpleButton{
  background-color: black;
  color: white;
}

header{
  width: 600 px;
  justify-content: center;
  color: white;
  padding: 20px;
  background-color: #282c34;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
